.modal {
  display: block;
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
      background-color: white;
    margin: 15% auto;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    border: 1px solid blue;
    width: 80%;
    text-align: left;
    font-size: 16px;
}

.close{
  color: pink;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover .close:focus{
  color:black;
  text-decoration: none;
  cursor: pointer;
}